@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", "Lato", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 1.33333vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.about-card {
  text-align: left;
  font-weight: 500;
  max-width: 533px;
  max-width: 33.3125rem;
}

.about-card__lead {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 36px;
  line-height: 2.25rem;
  letter-spacing: 2%;
}

.about-card__text {
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: 5%;
}

.button a {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2%;
  border-radius: 6.25rem;
  border: 5px solid #060c41;
  color: #060c41;
  background: #ffba0e;
  text-align: center;
}

.button__Application a {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  max-width: 381px;
  max-width: 23.8125rem;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 20px 0;
  padding: 1.25rem 0;
  border-bottom: 10px solid #060c41;
}

.button__Application a:hover {
  margin-top: 3px;
  border-bottom: 5px solid #060c41;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__button {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
}

.header__button a {
  line-height: 16px;
  line-height: 1rem;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 22px 0;
  padding: 1.375rem 0;
  position: relative;
  overflow: hidden;
}

.header__button a:before {
  content: "";
  position: absolute;
  top: -45px;
  left: -60px;
  height: 190px;
  width: 30px;
  background: #fff;
  opacity: 0.3;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button a:hover:before {
  left: 98%;
}

.career-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  max-width: 77.5rem;
  width: 100%;
  background: #FFFFFF;
  padding: 60px 0;
  padding: 3.75rem 0;
}

.career-content {
  width: 33.3%;
}

.career-content__img {
  max-width: 300px;
  max-width: 18.75rem;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.career-content__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  letter-spacing: 2%;
}

.header {
  width: 100%;
  position: fixed;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1250px;
  max-width: 78.125rem;
}

.header__logo {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
  margin-right: auto;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__list {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.header__list a {
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  display: inline-block;
  padding: 34px 0;
  padding: 2.125rem 0;
  position: relative;
}

.header__list a:hover {
  opacity: .6;
}

.header__list a:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #FFBA0E;
  bottom: -6px;
  /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__list a:hover::after {
  visibility: visible;
  bottom: 5px;
  opacity: 1;
}

.insta-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  max-width: 75rem;
  width: 100%;
}

.insta-content {
  max-width: 300px;
  max-width: 18.75rem;
  width: 100%;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1250px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.main-view {
  background: url(/assets/images/common/mv.png) center center/cover;
  width: 100%;
  padding: 387px 0px 270px 120px;
  padding: 24.1875rem 0rem 16.875rem 7.5rem;
}

.main-view__title {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.main-view__title a {
  display: inline-block;
  font-size: 64px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 60px;
  line-height: 3.75rem;
  letter-spacing: 5%;
  padding: 31px 0 31px 30px;
  padding: 1.9375rem 0 1.9375rem 1.875rem;
  max-width: 737px;
  max-width: 46.0625rem;
  width: 100%;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#ffbb0e));
  background: linear-gradient(90deg, #ff0000 0%, #ffbb0e 100%);
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: #878787;
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  /* マウスオーバー時 */
}

.main-view__title a:hover {
  border-color: #fff;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: transparent;
  outline-offset: 50px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .445);
  cursor: pointer;
}

.main-view__liad {
  color: #FFFFFF;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 700;
}

.main-view__liad span {
  display: inline-block;
  margin-top: 10px;
  margin-top: 0.625rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: "Nothing You Could Do", cursive;
}

.qa-content {
  max-width: 750px;
  max-width: 46.875rem;
  width: 100%;
  margin: auto;
}

.qa-content:not(:last-child) {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.qa-content__question {
  width: 100%;
  line-height: 32px;
  line-height: 2rem;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  background: #FFFFFF;
  color: #1a1a1a;
  border-radius: 0.625rem 0.625rem 0 0;
  position: relative;
}

.qa-content__question::before {
  content: "Q";
  width: 43px;
  width: 2.6875rem;
  height: 43px;
  height: 2.6875rem;
  border-radius: 50%;
  background: #0e112c;
  color: #FFFFFF;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 43px;
  line-height: 2.6875rem;
  text-align: center;
  font-weight: 900;
  position: absolute;
  top: 14px;
  top: 0.875rem;
  left: 20px;
  left: 1.25rem;
}

.qa-content__qustion--icon {
  width: 24px;
  width: 1.5rem;
  position: absolute;
  top: 27px;
  top: 1.6875rem;
  right: 20px;
  right: 1.25rem;
}

.qa-content__answer {
  width: 100%;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  background: #0e112c;
  color: #FFFFFF;
  border-radius: 0 0 0.625rem 0.625rem;
  position: relative;
  display: none;
}

.qa-content__answer::before {
  content: "A";
  width: 43px;
  width: 2.6875rem;
  height: 43px;
  height: 2.6875rem;
  border-radius: 50%;
  background: #f0f0f0;
  color: #0E112C;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 43px;
  line-height: 2.6875rem;
  text-align: center;
  font-weight: 900;
  position: absolute;
  top: 20px;
  top: 1.25rem;
  left: 20px;
  left: 1.25rem;
}

.is-open {
  display: block;
}

.section__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 48px;
  line-height: 3rem;
}

.section__title--about {
  color: #FFFFFF;
  letter-spacing: 5%;
}

.section__title-back {
  text-transform: uppercase;
  font-size: 150px;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 150px;
  line-height: 9.375rem;
  letter-spacing: 2%;
}

.section__title-back--about {
  color: rgba(0, 0, 0, .5);
}

.appp {
  margin: 1px;
}
