@charset "UTF-8";
.u-desktop {
  display: none;
}

@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

/* FontFamily */
body {
  font-family: "Noto Sans JP", "Lato", sans-serif;
}

/* font-weight */
/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 1.33333vw;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 4.26667vw;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.about {
  width: 100%;
  background: url(/assets/images/common/about-back.jpg) center center/cover;
  position: relative;
  padding: 144px 0 146px;
  padding: 9rem 0 9.125rem;
}

.section__title--about {
  color: #FFFFFF;
  letter-spacing: 5%;
  text-align: center;
  margin-bottom: 82px;
  margin-bottom: 5.125rem;
}

.section__title-back--about {
  color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 25px;
  left: 1.5625rem;
}

.about-inner {
  max-width: 1250px;
  max-width: 78.125rem;
  width: 100%;
  margin: auto;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content:first-child .about__content--img::after {
  background: url(/assets/images/common/Ⅰ.png) center center/contain;
  background-repeat: no-repeat;
}

.about__content:not(:last-child) {
  margin-bottom: 62px;
  margin-bottom: 3.875rem;
}

.about__content:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__content:nth-child(2n) .about-card {
  margin: 0;
  margin-right: 67px;
  margin-right: 4.1875rem;
}

.about__content:nth-child(2n) .about__content--img::after {
  background: url(/assets/images/common/Ⅱ.png) center center/contain;
  background-repeat: no-repeat;
}

.about__content:last-child .about__content--img::after {
  background: url(/assets/images/common/Ⅲ.png) center center/contain;
  background-repeat: no-repeat;
}

.about__content:not(:last-child) {
  margin-bottom: 62px;
  margin-bottom: 3.875rem;
}

.about__content--img {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  position: relative;
  vertical-align: bottom;
  line-height: 1em;
}

.about__content--img::after {
  content: "";
  position: absolute;
  top: -57px;
  top: -3.5625rem;
  left: 10px;
  left: 0.625rem;
  width: 120px;
  width: 7.5rem;
  height: 120px;
  height: 7.5rem;
  background-repeat: no-repeat;
}

.about__content--img img {
  display: block;
}

.about-card {
  text-align: left;
  font-weight: 500;
  color: #FFFFFF;
  max-width: 533px;
  max-width: 33.3125rem;
  margin-left: 67px;
  margin-left: 4.1875rem;
}

.about-card__lead {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 36px;
  line-height: 2.25rem;
  letter-spacing: 2%;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

.about-card__text {
  line-height: 40px;
  line-height: 2.5rem;
  letter-spacing: 5%;
}

.button a {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2%;
  border-radius: 6.25rem;
  border: 5px solid #060c41;
  color: #060c41;
  background: #ffba0e;
  text-align: center;
}

.button__Application a {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  max-width: 381px;
  max-width: 23.8125rem;
  width: 100%;
  -webkit-transition: none;
  transition: none;
  padding: 20px 0;
  padding: 1.25rem 0;
  -webkit-box-shadow: 0 10px 0 #060c41;
          box-shadow: 0 10px 0 #060c41;
  position: relative;
}

.button__Application a:hover {
  top: 5px;
  -webkit-box-shadow: 0 5px 0 #060c41;
          box-shadow: 0 5px 0 #060c41;
}

.header__button {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
}

.header__button a {
  line-height: 16px;
  line-height: 1rem;
  width: 100%;
  overflow: hidden;
  padding: 22px 0;
  padding: 1.375rem 0;
  position: relative;
  opacity: 1;
}

.header__button a:before {
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 30px;
  height: 100%;
  opacity: 0;
  -webkit-transition: cubic-bezier(0.32, 0, 0.67, 0);
  transition: cubic-bezier(0.32, 0, 0.67, 0);
}

.header__button a:hover:before {
  -webkit-animation: kiran 0.5s linear 1;
          animation: kiran 0.5s linear 1;
}

@-webkit-keyframes kiran {
  0% {
    -webkit-transform: scale(2) rotate(45deg);
            transform: scale(2) rotate(45deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(20) rotate(45deg);
            transform: scale(20) rotate(45deg);
    opacity: 0.6;
  }
  40% {
    -webkit-transform: scale(30) rotate(45deg);
            transform: scale(30) rotate(45deg);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: scale(45) rotate(45deg);
            transform: scale(45) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
            transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes kiran {
  0% {
    -webkit-transform: scale(2) rotate(45deg);
            transform: scale(2) rotate(45deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(20) rotate(45deg);
            transform: scale(20) rotate(45deg);
    opacity: 0.6;
  }
  40% {
    -webkit-transform: scale(30) rotate(45deg);
            transform: scale(30) rotate(45deg);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: scale(45) rotate(45deg);
            transform: scale(45) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
            transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

.career {
  position: relative;
  padding-top: 146px;
  padding-top: 9.125rem;
  padding-bottom: 145px;
  padding-bottom: 9.0625rem;
}

.career-inner {
  max-width: 1250px;
  max-width: 78.125rem;
  width: 100%;
}

.section__title--career {
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

.section__title-back--career {
  position: absolute;
  top: 0;
  left: 25px;
  left: 1.5625rem;
  color: rgba(255, 255, 255, .05);
}

.career__lead {
  font-size: 20px;
  font-size: 1.25rem;
  color: #FFFFFF;
  line-height: 30px;
  line-height: 1.875rem;
  letter-spacing: 2%;
  max-width: 896px;
  max-width: 56rem;
  width: 100%;
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

.career-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1240px;
  max-width: 77.5rem;
  width: 100%;
  background: #FFFFFF;
  padding: 60px 0;
  padding: 3.75rem 0;
}

.career-content {
  width: 33.3%;
}

.career-content__img {
  max-width: 300px;
  max-width: 18.75rem;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.career-content__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  letter-spacing: 2%;
}

.footer {
  background: #000000;
  padding-top: 30px;
  padding-top: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}

.footer__logo {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
  margin: auto;
}

.footer__nav {
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
}

.footer__lists {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  margin: 0 20px;
  margin: 0 1.25rem;
}

.footer__list a {
  display: inline-block;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 15px;
  padding-bottom: 0.9375rem;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.footer__list a:hover {
  opacity: .6;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  margin: 0 11px;
  margin: 0 0.6875rem;
}

.footer__icon a {
  display: block;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.footer__icon a:hover {
  opacity: .6;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.application-form {
  background: url(/assets/images/common/form-back.png) center center/cover;
  padding-top: 150px;
  padding-top: 9.375rem;
  padding-bottom: 150px;
  padding-bottom: 9.375rem;
}

.application-form__inner {
  max-width: 920px;
  max-width: 57.5rem;
  width: 100%;
  padding: 60px 145px;
  padding: 3.75rem 9.0625rem;
  background: #FFFFFF;
  border: 10px solid #a3a3a3;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section__title--form {
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.application-form__lead {
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.form__content:not(:nth-child(6)) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__content:not(:nth-child(6)) .label::after {
  content: "必須";
  width: 40px;
  width: 2.5rem;
  height: 20px;
  height: 1.25rem;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.25rem;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  right: 0rem;
  background: #ff0000;
  color: #FFFFFF;
  border-radius: 0.125rem;
}

.form__content:nth-child(6) .label {
  margin-top: 10px;
  margin-top: 0.625rem;
}

.form__label {
  max-width: 212px;
  max-width: 13.25rem;
  width: 100%;
}

.label {
  display: inline-block;
  padding-right: 55px;
  padding-right: 3.4375rem;
  margin-right: auto;
  color: #333333;
  position: relative;
}

.input,
.textarea {
  max-width: 400px;
  max-width: 25rem;
  width: calc(100% - 13.25rem);
  display: block;
  border: 1px solid #5b5b5b;
  padding: 17px 20px;
  padding: 1.0625rem 1.25rem;
  line-height: 17px;
  line-height: 1.0625rem;
  -webkit-transition: .3s all;
  transition: .3s all;
  border-radius: 0.125rem;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  color: #a4a4a4;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  color: #a4a4a4;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  color: #a4a4a4;
}

.input::placeholder,
.textarea::placeholder {
  color: #a4a4a4;
}

.input:hover,
.textarea:hover {
  border: 1px solid #5b5b5b;
  -webkit-box-shadow: 0 0 0.5rem #5b5b5b;
          box-shadow: 0 0 0.5rem #5b5b5b;
}

.textarea {
  max-height: 200px;
  max-height: 12.5rem;
  height: 100%;
}

.form__check {
  text-align: center;
  margin-bottom: 42px;
  margin-bottom: 2.625rem;
  width: 100%;
}

.check-label {
  display: inline-block;
}

.check-label a {
  line-height: 30px;
  line-height: 1.875rem;
}

.form-check {
  display: none;
}

.form-check + span {
  padding: 0 0 0 50px;
  padding: 0 0 0 3.125rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  line-height: 1.875rem;
  letter-spacing: 2%;
  margin-left: 20px;
  margin-left: 1.25rem;
}

.form-check + span::before, .form-check + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-check + span::before {
  background: #ffffff;
  border: 1px solid #5b5b5b;
  display: block;
  left: 0;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-check + span::after {
  background: transparent url(/assets/images/common/Group.png) center center/cover;
  width: 16px;
  width: 1rem;
  height: 12px;
  height: 0.75rem;
  left: 7px;
  left: 0.4375rem;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.form-check + span:hover::before {
  border: 1px solid #5b5b5b;
  -webkit-box-shadow: 0 0 0.5rem #5b5b5b;
          box-shadow: 0 0 0.5rem #5b5b5b;
}

.form-check + span:active::before {
  background: rgba(91, 91, 91, .15);
}

.form-check + span a {
  color: #333333;
}

.form-check:checked + span::after {
  opacity: 1;
}

.submit-button a {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  text-align: center;
  padding: 20px 0;
  padding: 1.25rem 0;
  max-width: 381px;
  max-width: 23.8125rem;
  border-radius: 6.25rem;
  background: #0e112c;
  color: #FFFFFF;
  margin: auto;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.submit-button a:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0.6;
}

.submit-button a input {
  color: #FFFFFF;
}

.header {
  background: black;
  width: 100%;
  position: fixed;
  z-index: 999;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header.transform {
  background: rgba(0, 0, 0, .8);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1250px;
  max-width: 78.125rem;
}

.header__logo {
  max-width: 200px;
  max-width: 12.5rem;
  width: 100%;
  margin-right: auto;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__list {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.header__list a {
  width: 100%;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  display: inline-block;
  padding: 34px 0;
  padding: 2.125rem 0;
  position: relative;
}

.header__list a:hover {
  opacity: .6;
}

.header__list a:after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #FFBA0E;
  bottom: -6px;
  /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__list a:hover::after {
  visibility: visible;
  bottom: 5px;
  opacity: 1;
}

.instagram {
  padding-top: 145px;
  padding-top: 9.0625rem;
  padding-bottom: 145px;
  padding-bottom: 9.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(70%, #ffffff), color-stop(30%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 70%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 100%);
  position: relative;
}

.section__title--insta {
  letter-spacing: 2%;
  color: #333333;
  text-align: center;
  margin-bottom: 65px;
  margin-bottom: 4.0625rem;
}

.section__title-back--insta {
  position: absolute;
  top: 0;
  right: 25px;
  right: 1.5625rem;
  color: #e0e0e0;
}

.insta-inner {
  margin-left: auto;
  margin-bottom: 58px;
  margin-bottom: 3.625rem;
}

.more-button {
  text-align: right;
}

.more-button a {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 2%;
  display: inline-block;
  position: relative;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  width: 220px;
  width: 13.75rem;
  margin-right: 80px;
  margin-right: 5rem;
  text-align: left;
}

.more-button a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more-button a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  right: 0;
  width: 20px;
  height: 2px;
  border: none;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more-button a:hover::before {
  right: 10px;
  right: 0.625rem;
  width: 250px;
  width: 15.625rem;
}

.more-button a:hover::after {
  right: -30px;
  right: -1.875rem;
}

.insta-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  max-width: 75rem;
  width: 100%;
}

.insta-content {
  max-width: 300px;
  max-width: 18.75rem;
  width: 100%;
}

.insta-content__img img:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  -webkit-transform: translateY(-10px) scale(1.2) rotate(3deg);
          transform: translateY(-10px) scale(1.2) rotate(3deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.l-inner {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1250px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.l-max-width {
  max-width: 1440px;
  max-width: 90rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.l-max-width__insta {
  max-width: 2000px;
  max-width: 125rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.main-view {
  background: url(/assets/images/common/mv.png) center center/cover;
  width: 100%;
  padding: 387px 0px 270px 120px;
  padding: 24.1875rem 0rem 16.875rem 7.5rem;
}

.main-view__title {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.main-view__title a {
  display: inline-block;
  font-size: 64px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 60px;
  line-height: 3.75rem;
  letter-spacing: 5%;
  padding: 31px 0 31px 30px;
  padding: 1.9375rem 0 1.9375rem 1.875rem;
  max-width: 737px;
  max-width: 46.0625rem;
  width: 100%;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#ffbb0e));
  background: linear-gradient(90deg, #ff0000 0%, #ffbb0e 100%);
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: #878787;
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  /* マウスオーバー時 */
}

.main-view__title a:hover {
  border-color: #fff;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: transparent;
  outline-offset: 50px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .445);
  cursor: pointer;
}

.main-view__liad {
  color: #FFFFFF;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 700;
}

.main-view__liad span {
  display: inline-block;
  margin-top: 10px;
  margin-top: 0.625rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: "Nothing You Could Do", cursive;
}

.fadeLeft {
  -webkit-animation-name: fadeLeftAnime;
          animation-name: fadeLeftAnime;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.pagetop {
  position: fixed;
  bottom: 22px;
  bottom: 1.375rem;
  right: 40px;
  right: 2.5rem;
  max-width: 150px;
  max-width: 9.375rem;
  width: 100%;
}

.question {
  background: url(/assets/images/common/q&a-back.png) center center/cover;
  padding-top: 146px;
  padding-top: 9.125rem;
  padding-bottom: 146px;
  padding-bottom: 9.125rem;
  position: relative;
}

.section__title--qa {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: 62px;
  margin-bottom: 3.875rem;
}

.section__title-back--qa {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(255, 255, 255, .2);
}

.qa-contents {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.qa-content {
  max-width: 750px;
  max-width: 46.875rem;
  width: 100%;
  margin: auto;
}

.qa-content:not(:last-child) {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.qa-content__question {
  width: 100%;
  line-height: 32px;
  line-height: 2rem;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  background: #FFFFFF;
  color: #1a1a1a;
  border-radius: 0.625rem 0.625rem 0 0;
  position: relative;
}

.qa-content__question::before {
  content: "Q";
  width: 43px;
  width: 2.6875rem;
  height: 43px;
  height: 2.6875rem;
  border-radius: 50%;
  background: #0e112c;
  color: #FFFFFF;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 43px;
  line-height: 2.6875rem;
  text-align: center;
  font-weight: 900;
  position: absolute;
  top: 14px;
  top: 0.875rem;
  left: 20px;
  left: 1.25rem;
}

.qa-content__qustion--icon {
  width: 24px;
  width: 1.5rem;
  position: absolute;
  top: 27px;
  top: 1.6875rem;
  right: 20px;
  right: 1.25rem;
}

.qa-content__answer {
  width: 100%;
  line-height: 32px;
  line-height: 2rem;
  letter-spacing: 2%;
  padding-left: 95px;
  padding-left: 5.9375rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  background: #0e112c;
  color: #FFFFFF;
  border-radius: 0 0 0.625rem 0.625rem;
  position: relative;
  display: none;
}

.qa-content__answer::before {
  content: "A";
  width: 43px;
  width: 2.6875rem;
  height: 43px;
  height: 2.6875rem;
  border-radius: 50%;
  background: #f0f0f0;
  color: #0e112c;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 43px;
  line-height: 2.6875rem;
  text-align: center;
  font-weight: 900;
  position: absolute;
  top: 20px;
  top: 1.25rem;
  left: 20px;
  left: 1.25rem;
}

.is-open {
  display: block;
}

.button__qa {
  text-align: center;
}

.recuruit {
  background: url(/assets/images/common/recuruit-back.png) center center/cover;
  padding-top: 148px;
  padding-top: 9.25rem;
  padding-bottom: 144px;
  padding-bottom: 9rem;
  position: relative;
}

.section__title--recuruit {
  color: #FFFFFF;
  letter-spacing: 5%;
  text-align: center;
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

.section__title-back--recuruit {
  position: absolute;
  top: 0;
  right: 26px;
  right: 1.625rem;
  color: rgba(255, 255, 255, .15);
}

.recuruit__lead {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2%;
  font-weight: 500;
  line-height: 30px;
  line-height: 1.875rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recuruit__lead::before, .recuruit__lead::after {
  content: "";
  width: 2px;
  width: 0.125rem;
  height: 70px;
  height: 4.375rem;
  background-color: #FFFFFF;
}

.recuruit__lead::before {
  margin-right: 30px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.recuruit__lead::after {
  margin-left: 30px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.recuruit__img {
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
  margin: auto;
}

.recuruit__details {
  max-width: 750px;
  max-width: 46.875rem;
  width: 100%;
  margin: auto;
  background: #FFFFFF;
  border: 5px solid #a3a3a3;
  padding: 60px 0;
  padding: 3.75rem 0;
}

.recuruit__detail {
  max-width: 460px;
  max-width: 28.75rem;
  width: 100%;
  margin: auto;
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
}

.recuruit__content {
  font-family: "Roboto", sans-serif;
  line-height: 19px;
  line-height: 1.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recuruit__content:not(:last-child) {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.recuruit__content dt {
  max-width: 125px;
  max-width: 7.8125rem;
  width: 100%;
  text-align: left;
  display: inline-block;
}

.recuruit__content dd {
  display: inline-block;
  width: calc(100% - 7.8125rem);
}

.recuruit__content dd:not(:last-child) {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

.recuruit__content dd span {
  display: inline-block;
  margin-top: 9px;
  margin-top: 0.5625rem;
}

.button__recuruit {
  text-align: center;
}

/* fadeUp */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

.section__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 48px;
  line-height: 3rem;
}

.section__title-back {
  text-transform: uppercase;
  font-size: 150px;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 150px;
  line-height: 9.375rem;
  letter-spacing: 2%;
}

.section-back {
  background: #0E112C;
  background: -webkit-gradient(linear, left top, left bottom, from(#0E112C), color-stop(25%, #0E112C), color-stop(25%, #ACACAC), to(#ACACAC));
  background: linear-gradient(180deg, #0E112C 0%, #0E112C 25%, #ACACAC 25%, #ACACAC 100%);
}

.summary {
  background: url(/assets/images/common/under-back.png) center center/cover;
  padding: 50px 40px;
  padding: 3.125rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary-inner {
  padding-top: 125px;
  padding-top: 7.8125rem;
  padding-bottom: 125px;
  padding-bottom: 7.8125rem;
  position: relative;
  width: 100%;
}

.summary-inner::before {
  content: "";
  background: url(/assets/images/common/ryota-noza-2.png) center center/cover;
  width: 58.8%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.summary__content {
  max-width: 700px;
  max-width: 43.75rem;
  background: #FFFFFF;
  padding: 45px 20px 45px 29px;
  padding: 2.8125rem 1.25rem 2.8125rem 1.8125rem;
  text-align: left;
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 54px;
  line-height: 3.375rem;
  font-weight: 700;
  margin-left: auto;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  position: relative;
  z-index: 100;
}

.summary__content span {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 32px;
  line-height: 2rem;
  font-family: "Nothing You Could Do", cursive;
}

.appp {
  margin: 1px;
}
