.button {
  a {
    display: inline-block;
    font-weight: $bold;
    letter-spacing: 2%;
    border-radius: rem(100);
    border: 5px solid #060c41;
    color: #060c41;
    background: #ffba0e;
    text-align: center;
  }
}

.button__Application {
  a {
    font-size: rem(24);
    line-height: rem(32);
    max-width: rem(381);
    width: 100%;
    transition: none;
    padding: rem(20) 0;
    box-shadow: 0 10px 0 #060c41;
    // -webkit-transition: none;
    position: relative;

    @include mq(md) {
      font-size: rem(16);
      max-width: rem(220);
      padding: rem(10) 0;
    }

    &:hover {
      top: 5px;
      box-shadow: 0 5px 0 #060c41;
      // box-shadow: none;
    }
  }
}

