.button {
  a {
    display: inline-block;
    font-weight: $bold;
    letter-spacing: 2%;
    border-radius: rem(100);
    border: 5px solid #060c41;
    color: #060c41;
    background: #ffba0e;
    text-align: center;
  }
}

.button__Application {
  a {
    font-size: rem(24);
    line-height: rem(32);
    max-width: rem(381);
    width: 100%;
    transition: all 0.2s ease;
    padding: rem(20) 0;
    border-bottom: 10px solid #060c41;

    &:hover {
      margin-top: 3px;
      border-bottom: 5px solid #060c41;
      transition: all 0.2s ease;
    }
  }
}
