.application-form {
  background: url(https://yoshi-bar55.com/portfolio/noza/assets/images/common/form-back.png) center center / cover;
  padding-top: rem(150);
  padding-bottom: rem(150);

  @include mq(md) {
    padding: rem(80) rem(20);
  }
}

.application-form__inner {
  max-width: rem(901);
  width: 100%;
  padding: rem(50) rem(135);
  background: $white;
  border: 10px solid #a3a3a3;
  margin: auto;
  box-sizing: border-box;

  @include mq(md) {
    max-width: rem(540);
    padding: rem(30) rem(20);
  }
}

.section__title--form {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: rem(40);
}

.application-form__lead {
  line-height: rem(32);
  letter-spacing: 0.02em;
  margin-bottom: rem(40);
}

.form {
}

.form__content {
  display: flex;
  margin-bottom: rem(31);

  &:nth-child(5) {
    margin-bottom: rem(27);
  }

  @include mq(md) {
    display: block;
    margin-bottom: rem(30);
  }

  &:not(:nth-child(6)) {
    align-items: center;
  }

  &:not(:nth-child(6)) {
    .label::after {
      content: "必須";
      width: rem(40);
      height: rem(20);
      font-size: rem(12);
      font-weight: $bold;
      line-height: rem(20);
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(0);
      background: #ff0000;
      color: $white;
      border-radius: rem(2);
    }
  }

  &:nth-child(6) {
    .label {
      margin-top: rem(10);
    }
  }
}
.form__label {
  max-width: rem(212);
  width: 100%;

  @include mq(md) {
    margin-bottom: rem(10);
  }
}

.label {
  display: inline-block;
  padding-right: rem(55);
  margin-right: auto;
  color: #333333;
  position: relative;
}

.input,
.textarea {
  max-width: rem(400);
  width: calc(100% - #{rem(212)});
  display: block;
  border: 1px solid #5b5b5b;
  padding: rem(15) rem(20);
  line-height: rem(17);
  transition: .3s all;
  border-radius: rem(2);

  @include mq(md) {
    max-width: 100%;
    width: 100%;
  }

  &::placeholder {
    color: #a4a4a4;
  }

  &:hover {
    border: 1px solid #5b5b5b;
    box-shadow: 0 0 rem(8) #5b5b5b;
  }
}

.textarea {
  max-height: rem(202);
  height: 100%;
}

.form__check {
  text-align: center;
  margin-bottom: rem(30);
  width: 100%;
}

.check-label {
  display: inline-block;
  a {
    line-height: rem(30);
  }
}

.form-check {
  display: none;

  + span {
    // display: inline-block;
    padding: 0 0 0 rem(49);
    position: relative;
    transition: all 0.3s ease;
    line-height: rem(30);
    letter-spacing: 0.02em;
    margin-left: rem(20);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background: #ffffff;
      border: 1px solid #5b5b5b;
      display: block;
      left: 0;
      width: rem(30);
      height: rem(30);
      transition: all 0.3s ease;
    }

    &::after {
      background: transparent url(https://yoshi-bar55.com/portfolio/noza/assets/images/common/Group.png) center center /
        cover;
      width: rem(16);
      height: rem(12);
      left: rem(7);
      transition: opacity 0.3s ease 0s;
      opacity: 0;
    }

    &:hover::before {
      border: 1px solid #5b5b5b;
      box-shadow: 0 0 rem(8) #5b5b5b;
    }

    &:active::before {
      background: rgba(#5b5b5b, 0.15);
    }

    a {
      color: #333333;
    }
  }
  &:checked {
    + span {
      &::after {
        opacity: 1;
      }
    }
  }
}

.submit-btn {
max-width: rem(381);
width: 100%;
margin: auto;
display: block;

@include mq(md) {
  max-width: rem(220);
}
}

.submit-button {
  padding: rem(20) 0;
  width: 100%;
  background: #0E112C;
  color: $white;
  text-align: center;
  font-size: rem(24);
  line-height: rem(32);
  letter-spacing: 0.02em;
  font-weight: $bold;
  border-radius: rem(100);
  cursor: pointer;
  transition: .3s all;

  @include mq(md) {
    padding: rem(10) 0;
    font-size: rem(16);

  }

  &:hover {
    opacity: .6;
  }
}

.-disabled {
  background: #bdbdbd;

  &:hover {
    opacity: 1;
  }
}