.question {
  background: url(/assets/images/common/q&a-back.png) center center / cover;
  padding-top: rem(146);
  padding-bottom: rem(146);
  position: relative;

  @include mq(md) {
    padding: rem(80) 0;
  }
}

.section__title--qa {
  color: $white;
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: rem(62);

  @include mq(md) {
    margin-bottom: rem(30);
  }
}

.section__title-back--qa {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.2);

  @include mq(md) {
    left: 0;
    transform: translateX(0);

  }
}

.question__position {
}

.qa-contents {
  margin-bottom: rem(80);

  @include mq(md) {
    margin-bottom: rem(50);
  }
}

.qa-content {
  max-width: rem(750);
  width: 100%;
  margin: auto;

  &:not(:last-child) {
    margin-bottom: rem(40);
  }
}

.qa-content__question {
  width: 100%;
  line-height: rem(32);
  padding-left: rem(95);
  padding-top: rem(20);
  padding-bottom: rem(25);
  background: $white;
  color: #1a1a1a;
  border-radius: rem(10) rem(10) 0 0;
  position: relative;

  &::before {
    content: "Q";
    width: rem(43);
    height: rem(43);
    border-radius: 50%;
    background: #0e112c;
    color: $white;
    font-size: rem(24);
    line-height: rem(43);
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: rem(14);
    left: rem(20);
  }
}

.qa-content__qustion--icon {
  width: rem(24);
  position: absolute;
  top: rem(27);
  right: rem(20);
  img {
  }
}

.qa-content__answer {
  width: 100%;
  line-height: rem(32);
  letter-spacing: 2%;
  padding-left: rem(95);
  padding-right: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(20);
  background: #0e112c;
  color: $white;
  border-radius: 0 0 rem(10) rem(10);
  position: relative;
  display: none;

  &::before {
    content: "A";
    width: rem(43);
    height: rem(43);
    border-radius: 50%;
    background: #f0f0f0;
    color: #0e112c;
    font-size: rem(24);
    line-height: rem(43);
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: rem(20);
    left: rem(20);
  }
}

.is-open {
  display: block;
}

.button__qa {
  text-align: center;
}