.summary {
  background: url(https://yoshi-bar55.com/portfolio/ibow-noza20211122/assets/images/common/under-back.png) center center / cover;
  padding: rem(50) rem(40);
  display: flex;
  align-items: center;

  @include mq(md) {
    padding: rem(40) rem(20);
  }
}

.summary-inner {
  padding-top: rem(125);
  padding-bottom: rem(104);
  position: relative;
  width: 100%;

  &::before {
    content: "";
    background: url(https://yoshi-bar55.com/portfolio/ibow-noza20211122/assets/images/common/ryota-noza-2.png) center center /
      cover;
    width: 58.8%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    @include mq(md) {
      max-width: rem(540);
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 0 15px 0 $white;
    }
  }
}

.summary__content {
  max-width: rem(700);
  width: 100%;
  background: $white;
  padding: rem(44) rem(20) rem(42) rem(29);
  text-align: left;
  font-size: rem(36);
  line-height: rem(54);
  font-weight: $bold;
  margin-left: auto;
  margin-bottom: rem(20);
  position: relative;
  z-index: 100;

  @include mq(md) {
    max-width: rem(540);
    font-size: rem(24);
    padding: rem(30) rem(20);
    margin: auto;
    line-height: rem(36);
    background: none;
    color: $white;
    text-shadow: 4px 4px 0 $black;
  }

  span {
    display: inline-block;
    font-size: rem(24);
    line-height: rem(32);
    font-family: $third-font-family;

    @include mq(md) {
      font-size: rem(16);
      line-height: rem(24);
      color: $white;
      text-shadow: 4px 4px 0 $black;
    }
  }
}
